﻿/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.bbcode {
display: none;
}

.bbcode .markItUpButton1 a	{
	background-image:url(images/bold.png);
}
.bbcode .markItUpButton2 a	{
	background-image:url(images/italic.png);
}
.bbcode .markItUpButton3 a	{
	background-image:url(images/underline.png);
}

.bbcode .markItUpButton4 a	{
	background-image:url(images/text_align_left.png);
}

.bbcode .markItUpButton5 a	{
	background-image:url(images/text_align_center.png);
}

.bbcode .markItUpButton6 a	{
	background-image:url(images/text_align_right.png);
}

.bbcode .markItUpButton7 a	{
	background-image:url(images/fonts.png);
}

.bbcode .markItUpButton8 a {
	background-image:url(images/colors.png);
}
	.bbcode .markItUpButton8 ul {
		width:81px;
		padding:1px;	
	}
	.bbcode .markItUpButton8  li {
		border:1px solid white;
		width:25px;	height:25px;
		overflow:hidden;
		padding:0px; margin:0px;
		float:left;
	}
	.bbcode .markItUpButton8 ul a {
		width:25px;	height:25px;
	}
	.bbcode .markItUpButton8 ul a:hover {
		background-color:none;
	}
	/*yellow*/
	.bbcode .markItUpButton8 .col1-1 a {
		background:#dcdc00;
	}
	/*orange*/
	.bbcode .markItUpButton8 .col1-2 a {
		background:#ddb04a;
	}
	/*red*/
	.bbcode .markItUpButton8 .col1-3 a {
		background:#d25441;
	}
	/*blue*/
	.bbcode .markItUpButton8 .col2-1 a {
		background:#5f8bca;
	}
	/*purple*/
	.bbcode .markItUpButton8 .col2-2 a {
		background:#9860be;
	}
	/*green*/
	.bbcode .markItUpButton8 .col2-3 a {
		background:#8bb262;
	}
	
	.bbcode .markItUpButton8 .col3-1 a {
		background:white;
	}
	/*grey*/
	.bbcode .markItUpButton8 .col3-2 a {
		background:#808080;
	}
	.bbcode .markItUpButton8 .col3-3 a {
		background:black;
	}



.bbcode .markItUpButton9 a	{
	background-image:url(images/list-bullet.png);
}
.bbcode .markItUpButton10 a	{
	background-image:url(images/list-item.png);
}
.bbcode .markItUpButton11 a	{
	background-image:url(images/list-numeric.png);
}
.bbcode .markItUpButton12 a	{
	background-image:url(images/text_indent.png);
}

.bbcode .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}

.bbcode .markItUpButton14 a	{
	background-image:url(images/picture.png);
}
.bbcode .markItUpButton15 a	{
	background-image:url(images/link.png);
}