.scroll-wrapper {
	position: relative;	
	overflow: hidden;
}

.scroll-container {
	position: relative; top: 0;
}

.scrollbar {
	position: absolute; top: 0; right: 0;
	width: .5em; height: 100%;
	background: #575757;
	display: none;
	cursor: pointer;
	transition: height 1s;
}

.scrollbar span {
	position: absolute; left: 0; top: 0;
	width: 100%;
	background: #44a644;
	display: block;
	transition: height 1s;
}

.scrollbar span:hover, .scrollbar span.mousedown {
	background: #55af55;
}