/** 
UI bg:				#44a644
UI bg hover/active:	#55af55
UI bg disabled:		#66b866

FONT				UI FONT hover/active	BORDERS:			#e8e8e8
FONT hover/active	UI FONT:									#fff
					UI FONT disabled:		BORDERS disabled:	#d1d1d1

BG dark: #333
BG light: #575757
**/

html, body{
	margin: 0;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif; color: #fff;
}

.float-error {
	position: absolute; top: 75%;
	padding: 4px 5px 3px 4px;
	height: 0;
	opacity: 0;
	z-index: -1;
	background-color: #333;
	border: 0;
	color: #e8e8e8; font-size: 11px; font-weight: bold; line-height: 1em;
	transition-property: top, height, opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.float-error.float-error-vis {
	top: 115%;
	height: 1em;
	opacity: 1;
}

.btn {
	padding: 0;
	height: 1em;
	border: 0; background: none;
	color: #fff; line-height: 1em;
	cursor: pointer; 
}

.btn:hover, .btn:active {
	color: #e8e8e8;
}

.apply-btn::before {
	content: '\2713 ';
}

.apply-btn::after {
	content: ' Apply';
}

.cancel-btn::before {
	content: '\2717 ';
}

.cancel-btn::after {
	content: ' Cancel';
}

/* JQUERY UI */
	.ui-corner-all, .ui-corner-top {
		border-radius: 0;
	}
	
	.ui-widget-content {
		background-color: #333 !important;
		color: #fff !important;
	}
	
	.ui-dialog {
		border-color: #e8e8e8 !important;
		box-shadow: 5px 5px 5px #000;
	}
	
	.ui-dialog, .ui-dialog-content {
		padding: 0 !important;
	}
	
	.ui-dialog-titlebar {
		background-color: #44a644;
		border: 0;
		color: #fff; font-size: 20px;
	}

	.ui-dialog-titlebar-close {
		display: none;
	}
	
	.ui-dialog-buttonpane {
		margin-top: 0 !important;
	}
	
	.ui-button, .ui-button:hover, .ui-button:active {
		padding: .1em .5em .2em .3em;
		border-color: #e8e8e8 !important;
		font-weight: bold !important;
	}

	.ui-button::before	{
		font-size: 1.2em;
	}
	
	.ui-button {
		background-color: #44a644 !important;
		color: #fff !important; 
	}
	
	.ui-checkboxradio-label:not(.ui-checkboxradio-checked) {
		background-color: #66b866 !important;
		color: #d1d1d1 !important;
		border-color: #d1d1d1 !important;
	}
	
	.ui-button:hover, .ui-button:active {
		background-color: #55af55 !important;
		color: #e8e8e8 !important; 
	}

/** HEADER **/
	header {
		width: 100%; height: 40px;
		padding: 10px 0;
		background-color: #44a644;
	}

	header > * {
		margin-right: 5px;
		height: 40px;
		display: inline-block;
	}

	#title {
		margin-left: 10px; margin-right: 26px;
		font-size: 40px; font-weight: bold;
	}
	
	#title > span {
		font-size: 14px;
	}

	header .btn {
		font-size: 38px;
	}
	
	#listsSort::before {
		content: '\21C5';
	}
	
	#listsAdd > button::before {
		content: '\2B';
	}
	
	#listsManage::before {
		content: '\2A2F';
	}
	
	/* #listsManage::before { */
		/* position: absolute; top: -3px; */
		/* content: '\2254'; */
	/* } */
	
	/* #listsManage::after { */
		/* position: absolute; top: 2px; */
		/* content: '\2254'; */
	/* } */
	
/* LISTS SORT */
	#listsSortOptions {
		padding: 5px 0 7px 0;
		width: 100%;
		border-bottom: 1px solid #e8e8e8;
		font-size: 15px;
	}
	
	#listsSortOptions > span {
		margin: 10px;
		font-size: 14px; font-weight: bold;
	}
	
	#listsSortOptions button {
		position: relative;
		margin: 0 -1px;
	}
	
	#listsSortOptions button[name=byName] {
		top: -1px;
		font-size: 20px !important; 
	}
	
	#listsSortOptions button[value=asc]::before {
		content: '\2191'; 
	}
	
	#listsSortOptions button[value=desc]::before {
		content: '\2193'; 
	}
	
	#listsSortOptions button[name=autolists] {
		top: 2px;
		font-size: 19px !important; 
	}
	
	#listsSortOptions button[name=autolists]::before {
		content: '\22BB';
	}
	
	#listsSortOptions button[value=first] {
		transform: rotate(180deg);
	}
	
	#listsSortList {
		margin: 0; padding: 3px;
		max-height: 70vh;
	}
	
	#listsSortList > ul {
		margin: 0; padding: 0;
		list-style-type: none;
	}
	
	#listsSortList > ul > li {
		margin: 3px; padding: 3px;
		width: 26em; height: 1em; line-height: 1em;
		background-color: #575757;
		border-color: #e8e8e8;
		cursor: all-scroll;
		font-size: 14px; color: #e8e8e8; 
	}
	
	#listsSortList > ul > li.ui-state-highlight {
		background-color: #333;
	}
	
	#listsSortList > ul > li > span {
		font-weight: bold;
	}
	

/* LISTS ADD */
	#listsAdd {
		position: relative; top: -6px;
		z-index: 1;
		font-size: 16px;
	}

	#listsAdd > input {
		padding: 0 0 3px 0;
		width: 1.3em;
		opacity: 0;
		background: none;
		border-width: 0 0 1px 0; border-color: #e8e8e8;
		color: #e8e8e8; font-size: 18px;
	}

	#listsAdd > input.add-list-exp {
		padding-right: 2em;
		width: 10em;
		opacity: 1;
	}

	#listsAdd > input, #listsAdd > input.add-list-exp {
		transition-property: padding, width, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
	}

	#listsAdd > button {
		position: relative; top: 6px; right: 32px;
	}

/** LISTS **/
	.auto-list {
		color: #fff !important;
	}
	
	#lists {
		padding: 0;
		border: 0;
		background-color: #333;
	}
	#lists > ul {
		padding: 0;
		border: 0;
		background-color: #44a644;
	}

	#lists > ul > li {
		margin: 0; padding: 0;
		border: 0;
		background: none;
	}

	#lists > ul > li:hover {
		background-color: rgba(232, 232, 232, .15);
	}

	#lists > ul > li:hover, #lists > ul > li.ui-tabs-active {
		border-bottom: 4px solid #fff;
	}

	#lists > ul > li > a {
		font-size: 20px; color: #e8e8e8; font-weight: bold;
	}

	#lists > div {
		color: #fff;
	}