@font-face {
	font-family: Stint Ultra Condensed;
	src: url('../fonts/StintUltraCondensed-Regular.woff');
}

html {
	height: 100%; width: 100%;
	background: #1b1b1b;
	font-family: "Stint Ultra Condensed", Georgia, serif; color: black;
	overflow: hidden;
}

body {
	margin: 0;
}

a, a:visited {
	color: silver;
}

a:hover {
	color: white;
}

a:active, a:visited, a:focus {
	outline: none;
}

h1 {
	display: none;
}

h2 {
	color: white; font-size: 8vw;
}

/* *** INTERFACE *** */
	.interface {
		position: absolute; right: 2.16vw;
		width: 29.2vw;
		background: #888888;
		box-shadow: 0 0 0 1px #525252 inset; border-radius: 6px;
		transition: top 2s, right 2s, width 2s, height 2s;
	}

	body.leftHand .interface {
		right: 68.64vw;
		width: 29.201vw;
	}

	body.vertical .interface {
		top: 68.64vh !important;
		height: 29.2vh !important;
	}

	.interface > div {
		position: absolute; top: 0; bottom: 0; left: 0; right: 0;
		width: 28vw;
		margin: auto;
		background: url('../img/bg.jpg') top left no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
		transition: height 2s, width 2s;
	}

	body.vertical .interface > div {
		height: 28vh !important;
	}

	.interface > div > * {
		width: 100%; height: 100%;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
		background: rgba(255, 255, 255, 0.4);
	}

	/* *** SETTINGS *** */
		#settings {
			top: 2.09vh;
			height: 10.45vh;
		}

		body.vertical #settings {
			right: 2.09vw;
			width: 10.45vw;
		}

		body.vertical.leftHand #settings {
			right: 87.46vw;
			width: 10.451vw;
		}

		#settingsContainer {
			height: 8.81vh;
		}

		body.vertical #settingsContainer {
			width: 8.81vw;
		}

		#settings button {
			position: absolute; top: 0.6vh;
			width: 5.2vw; height: 7.61vh;
			border: 0;
			display: inline-block;
			cursor: pointer;
			transition: top 2s, left 2s, width 2s, height 2s, background-color 1.5s, box-shadow 1.5s;
		}

		#settings span {
			position: absolute; top: 0; left: 0;
			width: 100%; height: 100%;
			background-position: center; background-repeat: no-repeat; background-size: contain;
			transition: opacity 1.5s;
		}

		body.vertical #settings button {
			left: 0.6vh !important;
			width: 7.61vw; height: 5.2vh;
		}

		body.leftHand #switchHandBtn:not(:hover) #rightHandBtn, body:not(.leftHand) #switchHandBtn:not(:hover) #leftHandBtn,
		body.leftHand #switchHandBtn:hover #leftHandBtn, body:not(.leftHand) #switchHandBtn:hover #rightHandBtn,
		body.vertical #rotateBtn:not(:hover) #rotateHorBtn, body:not(.vertical) #rotateBtn:not(:hover) #rotateVertBtn,
		body.vertical #rotateBtn:hover #rotateVertBtn, body:not(.vertical) #rotateBtn:hover #rotateHorBtn,
		#settingsBtn:hover #settingsIdle, #settingsBtn:not(:hover) #settingsAct,
		#langBtn:not(:hover) #en, #langBtn:hover #nl {
			opacity: 0;
		}

		/* SwitchHand & Rotate */
			#switchHandBtn, #rotateBtn {
				box-shadow: 0 0 0 1px rgba(230, 0, 225, 0.2);
				background-color: rgba(230, 0, 225, 0.4);
			}

			#switchHandBtn:hover, #rotateBtn:hover {
				box-shadow: 0 0 0 1px rgba(255, 0, 250, 0.4);
				background-color: rgba(255, 0, 250, 0.7);
			}
			
			#switchHandBtn {
				left: 0.33vw;
			}

			body.leftHand #switchHandBtn {
				left: 22.47vw;
			}
			
			body.vertical #switchHandBtn {
				top: 0.33vh;
			}
			
			#leftHandBtn {
				background-image: url('../svg/settingsBtns.svg#leftHand');
			}
			
			#rightHandBtn {
				background-image: url('../svg/settingsBtns.svg#rightHand');
			}

			#rotateBtn {
				left: 5.87vw;
			}
		
			body.leftHand #rotateBtn {
				left: 16.93vw;
			}
		
			body.vertical #rotateBtn {
				top: 5.87vh;
			}

			#rotateHorBtn {
				background-image: url('../svg/settingsBtns.svg#rotateHor');
			}
		
			#rotateVertBtn {
				background-image: url('../svg/settingsBtns.svg#rotateVert');
			}

		/* Connect & Settings */
			#connectBtn, #settingsBtn {
				box-shadow: 0 0 0 1px rgba(255, 5, 180, 0.2);
				background-color: rgba(255, 5, 180, 0.4);
			}

			#connectBtn:hover, #settingsBtn:hover {
				box-shadow: 0 0 0 1px rgba(250, 0, 175, 0.4);
				background-color: rgba(250, 0, 175, 0.7);
			}

			#connectBtn {
				left: 11.4vw;
			}
			
			body.vertical #connectBtn {
				top: 11.4vh;
			}

			#connectBtn span {
				background-image: url('../img/connectBtn.png');
			}
			
			#settingsBtn {
				left: 16.93vw;
			}
			
			body.leftHand #settingsBtn {
				left: 5.87vw;
			}

			body.vertical #settingsBtn {
				top: 16.93vh;
			}
			
			#settingsIdle {
				background-image: url('../svg/settingsBtns.svg#settings');
			}
			
			#settingsAct {
				background-image: url('../svg/settingsBtns.svg#settingsAct');
			}

		/* Lang */
			#langBtn {
				left: 22.47vw;
				box-shadow: 0 0 0 1px rgba(255, 70, 5, 0.2);
				background-color: rgba(255, 70, 5, 0.4);
			}

			#langBtn:hover {
				box-shadow: 0 0 0 1px rgba(250, 65, 0, 0.4);
				background-color: rgba(250, 65, 0, 0.7);
			}

			body.leftHand #langBtn {
				left: 0.33vw;
			}
			
			body.vertical #langBtn {
				top: 22.47vh;
			}

			#en {
				background-image: url('../svg/flagBtns.svg#en');
			}

			#nl {
				background-image: url('../svg/flagBtns.svg#nl');
			}
	/* *** END SETTINGS *** */

	/* *** NAVIGATION *** */
		#navigation {
			top: 13.88vh;
			height: 51.19vh;
			text-align: center;
		}

		body.vertical #navigation {
			right: 13.88vw;
			width: 51.19vw;
		}

		body.vertical.leftHand #navigation {
			right: 34.93vw;
		}

		#navigationContainer {
			height: 48.81vh;
		}
		
		body.vertical #navigationContainer {
			width: 48.81vw;
		}

		#navigation a {
			position: absolute;
			transition: color 1.5s, box-shadow 1.5s, background-color 1.5s, top 2s, left 2s, right 2s, width 2s, height 2s, line-height 2s;
			-webkit-touch-callout:	none; /* iOS Safari */
			-webkit-user-select:	none; /* Chrome/Safari/Opera */
			-khtml-user-select:		none; /* Konqueror */
			-moz-user-select:		none; /* Firefox */
			-ms-user-select:		none; /* Internet Explorer/Edge */
		}
		
		#navigation a.currentPage {
			color: white;
		}
		
		#navigation a > span {
			padding: 1.2vw;
			display: inline-block;
			vertical-align: middle;
			font-size: 3.2vw; line-height: 3.2vw; text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
			transition: padding 2s, font-size 2s, line-height 2s;
		}
		
		body.vertical #navigation a > span {
			padding: 1.2vh;
			font-size: 3.2vh; line-height: 3.2vh;
		}
		
		#navigation a > span > span {
			display: inline-block;
			white-space: nowrap;
		}

		/* *** PLASTISCH *** */
			#plastisch {
				top: 0.5vh; left: 0.32vw;
				width: 17.84vw; height: 17.61vh;
				box-shadow: 0 0 0 1px rgba(80, 220, 220, 0.2);
				background: rgba(80, 220, 220, 0.4);
				line-height: 17.61vh;
			}
			
			#plastisch:hover, #plastisch.currentPage {
				box-shadow: 0 0 0 1px rgba(95, 255, 255, 0.4);
				background: rgba(95, 255, 255, 0.6);
			}
			
			body.leftHand #plastisch {
				left: 9.84vw;
			}

			body.vertical #plastisch {
				top: 0.32vh; left: 30.7vw;
				width: 17.61vw; height: 17.84vh;
				line-height: 17.84vh;
			}

			body.vertical.leftHand #plastisch {
				left: 0.5vw;
			}

		/* *** CLAN OF RA *** */
			#clanOfRa {
				top: 0.5vh; right: 0.32vw;
				width: 9.2vw; height: 17.61vh;
				box-shadow: 0 0 0 1px rgba(30, 0, 200, 0.2);
				background: rgba(30, 0, 200, 0.4);
				line-height: 17.61vh;
			}
		
			#clanOfRa:hover, #clanOfRa.currentPage {
				box-shadow: 0 0 0 1px rgba(45, 0, 235, 0.4);
				background: rgba(45, 0, 235, 0.6);
			}
		
			body.leftHand #clanOfRa {
				right: 18.48vw;
			}

			body.vertical #clanOfRa {
				top: 18.48vh; right: 0.5vw;
				width: 17.61vw; height: 9.2vh;
				line-height: 9.2vh;
			}

			body.vertical.leftHand #clanOfRa {
				right: 30.7vw;
			}

		/* *** SCHRIJF *** */
			#schrijf {
				top: 18.61vh; left: 0.32vw;
				width: 8.24vw; height: 29.7vh;
				box-shadow: 0 0 0 1px rgba(0, 100, 0, 0.2);
				background: rgba(0, 100, 0, 0.4);
				line-height: 29.7vh;
			}
		
			#schrijf:hover, #schrijf.currentPage {
				box-shadow: 0 0 0 1px rgba(0, 135, 0, 0.4);
				background: rgba(0, 135, 0, 0.6);
			}

			body.leftHand #schrijf {
				left: 19.44vw;
			}

			body.vertical #schrijf {
				top: 0.32vh; left: 0.5vw;
				width: 29.7vw; height: 8.24vh;
				line-height: 8.24vh;
			}

			body.vertical.leftHand #schrijf {
				left: 18.61vw;
			}

		/* *** START *** */
			#start {
				top: 18.61vh; left: 8.88vw;
				width: 18.8vw; height: 13.25vh;
				box-shadow: 0 0 0 1px rgba(230, 0, 40, 0.2);
				background: rgba(230, 0, 40, 0.4);
				line-height: 13.25vh;
			}

			#start:hover, #start.currentPage {
				box-shadow: 0 0 0 1px rgba(255, 0, 55, 0.4);
				background: rgba(255, 0, 55, 0.6);
			}
		
			body.leftHand #start {
				left: 0.32vw;
			}

			body.vertical #start {
				top: 8.88vh; left: 16.95vw;
				width: 13.25vw; height: 18.8vh;
				line-height: 18.8vh;
			}

			body.vertical.leftHand #start {
				left: 18.61vw;
			}

		/* *** BIO *** */
			#bio {
				top: 32.36vh; left: 8.88vw;
				width: 9.24vw; height: 15.95vh;
				box-shadow: 0 0 0 1px rgba(190, 135, 0, 0.2);
				background: rgba(190, 135, 0, 0.4);
				line-height: 15.95vh;
			}

			#bio:hover, #bio.currentPage {
				box-shadow: 0 0 0 1px rgba(225, 150, 0, 0.4);
				background: rgba(225, 150, 0, 0.6);
			}
		
			body.leftHand #bio {
				left: 9.88vw;
			}

			body.vertical #bio {
				top: 8.88vh; left: 0.5vw;
				width: 15.95vw; height: 9.24vh;
				line-height: 9.24vh;
			}

			body.vertical.leftHand #bio {
				left: 32.36vw;
			}

		/* *** CV *** */
			#cv {
				top: 32.36vh; left: 18.44vw;
				width: 9.24vw; height: 15.95vh;
				box-shadow: 0 0 0 1px rgba(80, 0, 100, 0.2);
				background: rgba(80, 0, 100, 0.4);
				line-height: 15.95vh;
			}
			
			#cv:hover, #cv.currentPage {
				box-shadow: 0 0 0 1px rgba(95, 0, 135, 0.4);
				background: rgba(95, 0, 135, 0.6);
			}
		
			body.leftHand #cv {
				left: 0.32vw;
			}

			body.vertical #cv {
				top: 18.44vh; left: 0.5vw;
				width: 15.95vw; height: 9.24vh;
				line-height: 9.24vh;
			}

			body.vertical.leftHand #cv {
				left: 32.36vw;
			}

	/* *** END NAVIGATION *** */

	/* *** INFO *** */
		#info {
			top: 66.12vh;
			height: 30.3vh;
		}

		body.vertical #info {
			right: 66.12vw;
			width: 30.30vw;
		}

		body.vertical.leftHand #info {
			right: 3.58vw;
		}

		#infoContainer {
			height: 27.76vh;
		}
		
		body.vertical #infoContainer {
			width: 27.76vw;
		}

		.infoBlock {
			position: absolute;
			width: 25.76vw; height: 24.26vh;
			padding: 1.75vh 1.12vw;
			opacity: 0;
			visibility: hidden;
			font-size: 1.8vw; line-height: 1.8vw; font-weight: bold;
			transition: font-size 2s, line-height 2s, width 2s, height 2s, padding 2s, opacity 1s, visibility 1s;
		}

		body.vertical .infoBlock {
			width: 24.26vw; height: 25.76vh;
			padding: 1.12vh 1.75vw;
			font-size: 1.8vh; line-height: 1.8vh;
		}
		
		.infoBlock.currentPage {
			opacity: 1;
			visibility: visible;
		}
		
		.infoBlockContainer {
			position: relative;
		}
		
		.infoTitle {
			font-size: 2.2vw; line-height: 2.2vw; text-align: left; text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
			transition: font-size 2s, line-height 2s;
		}
		
		body.vertical .infoTitle {
			font-size: 2.2vh; line-height: 2.2vh;
		}

		#info table {
			width: 100%;
		}
		
		#infoScroll {
			position: absolute; top: 0; right: 2px;
			width: 0.88vw; height: 100%;
			box-shadow: 0 0 0 1px rgba(190, 190, 190, 0.2) inset;
			background: rgba(230, 230, 230, 0.4);
			display: none;
			cursor: pointer;
			transition: width 2s;
		}
		
		body.vertical #infoScroll {
			width: 0.88vh;
		}

		#infoScroll span {
			position: absolute; left: 0; top: 0;
			width: 100%;
			box-shadow: 0 0 0 1px rgba(190, 190, 190, 0.4) inset;
			background: rgba(230, 230, 230, 0.6);
			display: block;
			transition: height 1s;
		}
		
		#infoScroll span:hover {
			box-shadow: 0 0 0 1px rgba(190, 190, 190, 0.6) inset;
			background: rgba(230, 230, 230, 0.8);
		}
	/* *** END INFO *** */
/* *** END INTERFACE *** */

body #buorg, noscript {
	position: fixed; top: 0; left: 0;
	width: 100%;
	text-align: center; font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: black;
	background: #FDF2AB;
	border-bottom: 1px solid #A29330;
	cursor: pointer;
	z-index: 4;
}

#buorg div, noscript div {
	padding: 5px 36px 5px 40px;
}

body .warningMsg {
	padding-left: 40px;
	background: url('../svg/warning.svg') center left no-repeat;
}

body #buorg > div, noscript > div {
	display: inline-block;
	padding: 0;
	text-align: left;
}

body #buorg a, noscript a {
	color:#E25600;
}