/* WRAPPER & CONTAINER */
	.contentWrapper {
		position: absolute; top: 0; left: -47vw;
		width: 42.64vw; height: 92.54vh;
		padding: 3.73vh 2vw;
		opacity: 0;
		transition: top 2s, left 2s, width 2s, height 2s, padding 2s, opacity 2s;
	}

	body.leftHand .contentWrapper {
		left: 147vw;
	}
	
	body.vertical .contentWrapper {
		top: -47vh; left: 0;
		width: 92.54vw; height: 42.64vh;
		padding: 2vh 3.73vw;
	}

	#content > section.currentPage > .contentWrapper {
		left: 0;
		opacity: 1;
	}

	body.leftHand:not(.vertical) #content > section.currentPage > .contentWrapper {
		left: 53.36vw;
	}

	body.vertical #content > section.currentPage > .contentWrapper {
		top: 0;
	}

/* *** LOADING *** */
	.loadingWrapper {
		position: relative;
		display: inline-block;
	}

	.loading {
		position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
		background: url('../svg/loading.svg') center no-repeat;
		display: inline-block;
	}

/* *** VIEWER *** */
	.viewer {
		border: 1px solid #6d6d6d;
		background: silver;
		display: inline-block;
	}

	.viewer img {
		max-width: 41.36vw; max-height: 90.16vh;
		margin: calc(1.19vh - 4px) calc(0.64vw - 4px);
		border: 1px solid #cacaca;
		display: block;
		transition: max-width 2s, max-height 2s, margin 2s;
	}

	body.vertical .viewer img {
		max-width: 90.16vw; max-height: 41.36vh;
		margin: calc(0.64vh - 4px) calc(1.19vw - 4px);
	}