.icon-code:before {
	content: '\007B\007D';
	font-weight: bold !important;
	letter-spacing: 2px !important;
	vertical-align: 5% !important;
} /* '' */

[class^="icon-"]:before, [class*=" icon-"]:before {
	margin-left: initial !important;
}