body {
margin: 0;
width: 100%;
height: 100%;
background-color: #000000;
}

#boxcontainer {
height: 100%;
width: 100%;
margin: (50%-300px) auto;
}

#box {
height: 400px;
width: 600px;
background-color: #999999;
border: 5px solid #333333;
text-align: center;
color: #990033;
font-size: 24px;
font-family: Impact;
font-weight: bold;
padding: 30px;
}

a.link:link {
color: #990033;
text-decoration: none;
}

a.link:visited {
color: #990033;
text-decoration: none;
}

a.link:hover {
color: #990033;
text-decoration: underline;
}

img {
border: 0px;
}
