body {
margin: 0px 0px;
padding: 0;
width: 100%;
height: 100%;
background-color: #CCCCCC;
}

#headerfill {
background-image: url(images/headerfill.png);
background-repeat: repeat-x;
}

#update {
color: #000000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
text-align: left;
}

#nav {
text-align: right;
font-style: italic;
padding-right: 60px;
width: 100%;
border-bottom: 1px solid #000000;
}

#navborder {
border-bottom: 5px solid #990033;
border-spacing: 0px;
width: 100%;
}

.navitem{
color: #009900;
font-size: 18px;
font-family: Impact;
font-weight: normal;
}

.navitem a:link {
color: #009900;
text-decoration: underline;
padding-right: 0px;
}

.navitem a:visited {
color: #009900;
text-decoration: underline;
padding-right: 0px;
}

.navitem a[href]:hover {
color: #009900;
text-decoration: underline;
padding-right: 0px;
}

#container {
margin: 0px auto;
border-spacing: 20px;
}

#content {
width: 900px;
vertical-align: top;
}

#navleft {
width: 115px;
vertical-align: top;
}

#navleftalign {
text-align: center;
}

.content {
text-align: left;
border: 1px solid #000000;
padding: 10px;
color: #000000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin-right: -5;
}

.contentborder {
border-left: 4px solid #009900;
border-top: 4px solid #009900;
}

.title {
color: #009900;
font-size: 24px;
font-family: Impact;
font-weight: bold;
}

.title2 {
color: #990033;
font-size: 18px;
font-family: Impact;
font-weight: normal;
}

.page {
color: #009900;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
text-align: right;
}

.page a:link {
color: #009900;
}

.page a:visited {
color: #009900;
}

.page a:hover {
color: #009900;
}


.thumb {
text-align: left;
border: 1px solid #000000;
padding: 5px;
color: #000000;
font-size: 13px;
font-family: Verdana, Arial, Helvetica, sans-serif;
margin-left: -5;
height: 295px;
background-color: #E4E4E4;
}

.thumbborder {
border-right: 4px solid #990033;
border-bottom: 4px solid #990033;
width: 265px;
}

.thumbline {
text-align: center;
border-bottom: 2px solid #000000;
padding-bottom: 7px;
}

.thumbline2 {
padding-top: 7px;
}

#thumbcontainer {
width: 100%;
}

#thumbcontainer td {
padding-bottom: 10px;
padding-top: 10px;
}

#thumbcontainer tr {
}