/*1000x800*/

/*GENERAL*/
body {
font-family: Lucida Console; font-size: 12px;
overflow: scroll;
}

#container {

padding-right: 250px;
width: 100%;
height: 100%;
text-align: center;
}

#wrapper {
margin: auto;
position: relative;
}

#map {
position: absolute; top: 0; left: 0;
}

img:not(#map):not(.route) {
max-height: 125px; width: auto;
margin: 3px;
border: 1px solid grey;
}

a {
color: black;
}

.marker {
width: 18px; height: 18px;
overflow: hidden;
font-size: 12px;
border-radius: 8px;
}

.marker .markercontent {
display: none;
}

.marker, .marker .markerDot {
position: absolute; top: 0; left: 0;
display: block;
border-radius: 8px;
z-index: 1;
}

.marker .markerTitle {
font-size: 14px;
}

.marker .markerDot {
padding-top: 2px; padding-left: 1px;
width: 13px; height: 12px;
border: 2px solid #606060;
text-align: center; color: white; font-size: 10px;
}

.marker a {
width: 100%; height: 100%;
text-decoration: none;
}

.marker:hover {
margin-top: -1px; margin-left: -1px;
padding: 3px; padding-left: 17px;
min-width: 14px; min-height: 14px; width: 300px; height: auto;
background: lightgrey;
opacity: 0.85;
z-index: 2;
border: 1px solid grey;
text-align: center;
}

.marker:hover .markercontent {
display: block;
}

.marker div {
text-align: left;
}

.marker img {
position: relative; left: -7px;
}

#legend {
position: absolute; top: 0; left: 0;
padding: 5px; padding-bottom: 100%;
background: lightgrey;
text-align: left;
}

#legendtitle {
padding: 5px;
font-size: 16px; font-weight: bold; text-align: center; line-height: 20px;
}

#legendtitle a:active { color: red; }

#legendtitle .minorinterm {
position: relative; bottom: 2px;
}


#legend .legenditem:not(.noImg) {
min-height: 100px;
}

#legend .legenditem {
position: relative; left: 23px;
margin-bottom: 10px; margin-left: 0; margin-right: 30px; margin-top: 20px; padding: 5px;
border: 1px solid #909090; border-radius: 4px;
}

#legend .legendindex {
position: absolute; left: -23px;
width: 20px;
text-align: right;
}

#legend .legenditem  .imgwrapper {
position: absolute; top: 0; right: 10px;
min-width: 200px; max-width: 200px; max-height: 20px;
padding: 4px; padding-right: 4px;
display: block;
text-align: right; font-size: 12px; font-weight: bold;
}

#legend .legenditem .imgwrapper .tools {
position: relative; top:-20px; height: 20px; display: block;
}

#legend .legenditem  .imgwrapper .showimg {
cursor: pointer;
}

#legend .legenditem .imgwrapper .img {
position: absolute; top: 20px; right: 15px;
height: 160px;
display: none;
overflow: hidden;
font-weight: normal;
}

#legend .legenditem .imgwrapper .img span {
display: inline-block;
}

#legend .legenditem .imgwrapper:not(.noImg):hover {
max-width: none; width: 95%; min-height: 180px;
padding: 3px;  padding-top: 4px;
background-color: lightgray;
border: 1px solid grey; border-top: 0; border-radius: 0 0 4px 4px;
opacity: 0.8;
z-index: 2;
}

#legend .legenditem .imgwrapper:not(.noImg):hover .img {
display: block;
overflow: auto;
opacity: 0.8;
font-weight: bold;
}

#legend .bibl {
margin: 5px; margin-top: 10px; padding: 3px;
font-family: Lucida Console; font-size: 10px;
}

#legend .detail {
display: none;
}

#legend .legenditem:hover .detail {
display: block;
}