@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23700877');
  src: url('../font/fontello.eot?23700877#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?23700877') format('woff2'),
       url('../font/fontello.woff?23700877') format('woff'),
       url('../font/fontello.ttf?23700877') format('truetype'),
       url('../font/fontello.svg?23700877#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23700877#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-apply:before { content: '\e800'; } /* '' */
.icon-remove:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-photo:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-config:before { content: '\e805'; } /* '' */
.icon-delete:before { content: '\e806'; } /* '' */
.icon-create:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-write:before { content: '\e809'; } /* '' */
.icon-add:before { content: '\e80a'; } /* '' */
.icon-show:before { content: '\e80b'; } /* '' */
.icon-hide:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-user-create:before { content: '\f234'; } /* '' */