/*INFOPANEL*/
	/*CONTAINER*/
		#infopanelcontainer {
		margin-bottom: 10px;
		width: 201px;
		position: relative; right: 0px;
		}

		#infopanelcontainer .loading {
		background-color: #d2e6e9;
		}
	/**/
	
	
	#infopanel {
	padding: 5px; padding-top: 15px;
	width: 201px;
	border: 1px solid #c4c4c4;
	background-color: #e0e8e9;
	font-size: 18px; font-style: normal; text-align: left; line-height: 18px;
	cursor: default;
	opacity: 0.7;
	}
	
	#infopanelcontent.hidden {
	display: none;
	}

	/*NEWS TITLE*/
		#infopanelTitle, #infopanelAdd {
		position: absolute; top: 0px;
		font-size: 20px; line-height: 26px;
		}

		#infopanelTitle {
		font-weight: bold;
		}

		#infopanelAdd {
		right: 5px;
		cursor: pointer;
		}

		#infopanelAdd:hover {
		color: #505050;
		}
	/**/

	/*NEWS ITEMS*/		
		#newsitemswrapper {
		margin-top: 4px;
		}

		#news  .date {
		font-weight: normal;
		}

		.rightcolumntxt {
		font-family: Lucida Console; font-size: 10px; font-weight: normal !important;
		}
	/**/
	/*STATS*/
		#infopanel_stats {
		display: inline-block;
		margin: 3px; margin-top: 5px; padding: 3px; padding-right: 10px; padding-bottom: 0;
		width: 174px;
		border: 1px dotted #c4c4c4; border-bottom: 1px dotted #d8d8d8; border-right: 1px dotted #d8d8d8;
		}
		
		#infopanel_stats ul {
		margin: 0; margin-left: -25px;
		font-size: 16px; line-height: 16px; list-style: circle;
		}
	/**/
/*END INFOPANEL*/