/*CONTAINER*/
	#userpanelcontainer {
	position: absolute; right: 0px;
	font-family: Lucida Console; color: #ffffff; font-size: 14px; font-style: normal; font-weight: normal;
	}

	#userpanelcontainer a {
	color: #ffffff; font-weight: normal;
	}

	#userpanelcontainer a:hover {
	color: #dedede;
	}

	#userpanelcontainer .loading {
	background: #dedede;
	border-radius: 2px;
	}

	#userpanelcontainer .loading div {
	color: #808080; font-size: 12px; line-height: 12px; font-weight: normal;
	}
/**/

/*USER PANEL*/
	#userpanel .hidden {
	display: none;
	}
	
	/*HEADER*/
		#userpanelheader {
		margin: 0; padding: 0;
		display: inline-block;
		}

		#userpanelheader ul {
		margin: 0; padding: 0;
		list-style: none;
		}

		#userpanelheader li {
		position: relative;
		margin: 0; padding: 0;
		border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-radius: 3px;
		display: table-cell;
		cursor: pointer;
		}

		#userpanelheader li:hover {
		border-left: 1px solid #dedede; border-bottom: 1px solid #dedede; border-radius: 3px;
		}

		#userpanelheader li:hover a {
		color: #dedede;
		}

		#userpanelheader a {
		position: relative;
		margin: 0; padding: 5px;
		display: block;
		font-style: normal; 
		}

		#userpanelToggleBtn span {
		margin: 0 8px;
		display: block;
		}
	/*END HEADER*/
	
	/*MAIN*/
		#userpanelmain {
		padding-top: 6px;
		}

		/*ITEM*/
			.userpanelitem , .userpanelitemInfo{
			position: relative;
			margin-left: 10px; margin-bottom: 5px; padding-left: 6px; padding-bottom: 3px;
			border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-radius: 3px;
			display: block;
			}
			
			.userpanelitemInfo {
			font-style: italic;
			}

			.userpanelitem a {
			position: absolute; top: 0; left: 0;
			padding-left: 15px;
			width: 100%; height: 100%;
			}

			.userpanelitem:hover {
			border-left: 1px solid #dedede; border-bottom: 1px solid #dedede; border-radius: 3px;
			}

			.userpanelitem:hover a{
			color: #dedede;
			}
			
			.userpanelitemInfo:hover {
			color: #ffffff;
			cursor: default;
			}
		/**/
	/*END MAIN*/
/*END USER PANEL*/