html {
	height: 100%; width: 100%; margin: 0;
	background: #cfc4af;
	font-family: 'Open Sans', sans-serif; color: #403e3b; font-size: 1em;
	overflow: auto;
}

body {
	height: 100%; width: 100%;
	background: #cfc4af;
	margin: 0;
}

body:before {
	width: 0; height: 0; overflow: hidden; display: block;
    content:	url('../img/loading-grey.gif')
				url('../img/loading-white.gif')
				url('../img/slideshow.png');
}

a, a:visited {
	color: #403e3b;
	text-decoration: none;
}

a:hover {
	color: #6e6048;
	text-decoration: underline;
}

a, a:hover, a:active, a:visited, a:focus, button, button:focus {
	outline: none;
}

a:not([href]) {
	cursor: default;
}

img {
	color: rgba(0, 0, 0, 0);
}

#pageLoading {
	position: fixed;
	top: calc(50vh - 64px); left: calc(50vw - 64px);
	z-index: 10000;
	opacity: 0.75;
	border: 1px solid rgba(192, 192, 192, 0.8); border-radius: 10px;
	display: none;
}

.photoThumb > img, .titleThumb > img, .pdfThumb > img, .slideshowImg > img, iframe {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 64px 64px;
}

.photoThumb > img, .titleThumb > img, .pdfThumb > img {
	background-image: url('../img/loading-grey.gif');
}

.slideshowImg > img, iframe {
	background-image: url('../img/loading-white.gif');
}

iframe {
	background-color: #f5f5f5;
	border-radius: 5px;
}

.ui-element, header, h1, .thumbTitle, .back, #slideshowTitle, .link-list.no-icon {
	font-family: 'Julius Sans One', sans-serif !important; font-weight: bold;
}

h1.hidden {
	display: none;
}

.download {
	padding: 0; padding-left: 17px; padding-bottom: 1px;
	display: inline-block;
	background-image: url('../img/download.png');  background-size: 16px 32px;
	background-repeat: no-repeat; background-position: 0 0;
	line-height: 15px;
}

.download:hover {
	background-position: 0 -16px;
}

a[target="_blank"]:not(.pdfThumb):after {
	content: '';
	width: 17px; height: 16px;
	display: inline-block;
	background-image: url('../img/externallink.png');  background-size: 16px 32px;
	background-repeat: no-repeat; background-position: right 0;
}

a[target="_blank"]:not(.pdfThumb):hover:after {
	background-position: right -16px;
}

a.small-ext[target="_blank"]:after {
	width: 12px; height: 12px;
	background-size: 12px 24px;
}

a.small-ext[target="_blank"]:hover:after {
	background-position: right -12px;
}

/** HEADER **/
	#pageHeader {
		position: fixed; top: 0; left: 0;
		width: 100%;
		padding-bottom: 0.3em;
		background: #cfc4af;
		z-index: 1000;
	}

	#headerTop, #headerBottom {
		background: #8b7754;
		background: radial-gradient(#8b7754 50%, #463c2a 100%);
		border: solid rgba(71, 61, 43, 0.35);
	}
	
	#headerTop {
		height: 1em;
		border-width: 2px 0;
	}
	
	#headerBottom {
		height: 0.2em;
		border-width: 1px 0;
	}

	/* HEADER NAV */
		#headerMain, #headerNav {
			position: relative;
			width: 100%;
		}

		#headerMain {
			height: 3.3em;
		}
		
		#headerNav {
			height: 1.1em;
		}
		
		#headerLogo {
			position: absolute; top: 0.25em; left: 0.75em;
			height: 2.8em; width: 2.8em;
		}
		
		#headerLogo > img {
			height: 100%; width: 100%;
		}
		
		#pageHeader nav {
			position: absolute; right: 1vw;
			height: 1em;
			font-weight: bold; text-align: center;
			transform-origin: -11vw 30vh;
			transform: translate(0vw, 0vh);
			transition: transform 1s, transform-origin 1s, font-size 1s;
		}

		#pageHeader nav.back {
			left: -99vw; right: initial;
			transform-origin: none;
			transform: translateX(0);
			transition: unset;
			opacity: 0;
		}

		#pageHeader nav.back.show {
			transform: translateX(100vw);
			opacity: 1;
			transition: transform 1s, opacity .7s .3s;
		}

		#pageHeader nav.back.hide {
			transform: translateX(200vw);
			opacity: 0;
			transition: transform 1s, opacity 1s;
		}

		#headerMain > nav {
			bottom: 0.2em;
		}

		#headerNav > nav {
			top: 0.1em;
		}
		
		html[data-page="home"] #pageHeader nav {
			transform-origin: 0 0;
			font-size: 1.3em;
		}
		
		html[data-page="home"] #headerMain > nav {
			transform: translate(-11vw, 30vh);
		}

		html[data-page="home"] #headerNav > nav {
			transform: translate(-11vw, 30vh);
		}

		#pageHeader nav > ul {
			margin: 0; padding: 0;
			list-style-type: none;
			display: inline-block;
		}

		#pageHeader nav > ul > li {
			float: left;
		}
		
		#pageHeader nav > ul > li > a {
			position: relative; 
			height: 1em;
			padding: 0 1px;
			display: block;
		}
		
		#pageHeader nav > ul > li > a:hover {
			text-decoration: none;
		}
		
		#pageHeader nav > ul > li:hover > a,
		html[data-page="music"] #pageHeader nav:not(.back) > ul > li > a[data-page="music"],
		html[data-page="poetry"] #pageHeader nav:not(.back) > ul > li > a[data-page="poetry"],
		html[data-page="photo"] #pageHeader nav:not(.back) > ul > li > a[data-page="photo"],
		html[data-page="more"] #pageHeader nav:not(.back) > ul > li > a[data-page="more"] {
			bottom: 1px;
			border-bottom: 2px dotted #403e3b;
		}
		
		#pageHeader nav > ul > li.nav-divider {
			width: 1.2em;
			cursor: default;
			text-align: center;
		}

		/* LANG SELECT */
			#langSelect *, #langSelect:after {
				cursor: pointer;
			}

			#langSelect {
				position: absolute; top: 0.37em; right: 2vw;
				width: 3.31em; height: 1.25em;
				border: 0.06em solid #403e3b; border-radius: 0.31em;
				background-color: #cfc4af;
				overflow: hidden;
				transition: height 0.5s;
			}
			
			#langSelect:hover {
				height: 2.56em;
			}
			
			#langSelect:after {
				content: '\BB';
				position: absolute; top: 0.06em; right: 0.19em;
				font-family: "Lucida Console", Monaco, monospace;
				transform: rotate(90deg);
				display: block;
			}
			
			#langSelect > ul {
				margin: 0; padding: 0;
				height: 2.56em; width: 2.19em;
				border-right: 0.06em solid #403e3b;
				background-color: #403e3b;
				list-style: none;
			}
			
			#langSelect > ul > li {
				position: absolute; top: 1.31em;
				height: 1.25em; width: 3.31em;
				padding: 0;
				display: block;
			}
			
			html[lang="en"] #langSelect > ul > li[data-lang="en"],
			html[lang="nl"] #langSelect > ul > li[data-lang="nl"] {
				top: 0;
				border-bottom: 0.06em solid #403e3b;
			}
		
			#langSelect > ul > li:hover {
				background-color: rgba(127, 127, 127, 0.3);			
			}
			
			#langSelect > ul > li > a {
				width: 100%; height: 100%;
				display: block;
			}
			
			#langSelect > ul > li[data-lang="en"] {
				background-image: url('../img/flags.svg#en');
				background-repeat: no-repeat;
			}
			
			#langSelect > ul > li[data-lang="nl"] {
				background-image: url('../img/flags.svg#nl');
				background-repeat: no-repeat;
			}
		/* END LANG SELECT */
	/* END HEADER NAV */
/* END HEADER */
/* CONTENT */
	#content {
		position: relative; top: 7.5em;
		text-align: center;
	}

	#content > section {
		position: absolute; left: -100%;
		padding: 2%;
		width: 96%; max-height: 100%;
		overflow: hidden;
		transform: translateX(0);
		transition: unset;
		opacity: 0;
		text-align: center;
	}

	#content > section.current-page, #content > section.hidden-page {
		overflow: visible;
		max-height: none;
	}

	#content > section.current-page {
		transform: translateX(100%);
		opacity: 1;
		transition: transform 1s, opacity .7s .3s;
	}

	#content > section.hidden-page {
		transform: translateX(200%);
		opacity: 0;
		transition: transform 1s, opacity 1s;
	}

	h1 {
		margin: 2vh 0; margin-bottom: 1vh;
	}
	
	h2 {
		margin: 2vh 0; margin-top: 2vh;
		font-size: 1em; font-weight: bold;
	}
	
	/* SLIDE EFFECT */
		.slide-wrapper {
			position: absolute; left: -100%;
			width: 100%;
			transition: unset;
		}
		
		.slide-current {
			left: 0;
			transform: translateX(0);
		}

		.show-left, .show-right,
		.hide-left, .hide-right {
			transition: transform 1s;
		}
		
		.show-left {
			left: -100%;
			transform: translateX(100%);
		}
		
		.show-right {
			left: 100%;
			transform: translateX(-100%);
		}

		.hide-left {
			left: 0;
			transform: translateX(-100%);
		}
		
		.hide-right {
			left: 0;
			transform: translateX(100%);
		}
	/* END SLIDE EFFECT */
		
	/* POETRY */
		.poem-wrapper {
			position: absolute; top: 2em;
			max-height: 100%;
			opacity: 0;
			overflow: hidden;
			text-align: center;
		}
	
		.poem-wrapper > div {
			position: relative;
			padding: 1em;
			font-size: 0.9em; text-align: left;
			white-space: nowrap;
			display: inline-block;
		}
		
		.poem-wrapper.slide-current {
			opacity: 1;
			overflow: visible;
		}

		.poem-wrapper.show-left, .poem-wrapper.show-right {
			transition: transform 1s, opacity .8s .2s;
			overflow: visible;
		}

		.poem-wrapper.hide-left, .poem-wrapper.hide-right {
			transition: transform 1s, opacity .5s;
			overflow: visible;
		}
		
		.poem-wrapper.show-left {
			opacity: 1;
		}
		
		.poem-wrapper.show-right {
			opacity: 1;
		}

		.poem-wrapper.hide-left {
			opacity: 0;
		}
		
		.poem-wrapper.hide-right {
			opacity: 0;
		}

		#poemToolbar {
			position: absolute; top: -1.7em; left: 0;
			width: 100%; height: 30px; padding-bottom: 0.8em;
			background-color: rgba(207,196,175,0.85);
			text-align: center; font-size: 0.8em;
			transition: transform .07s;
		}

		#poemToolbar > .slide-next-btn, #poemToolbar > .slide-prev-btn {
			position: relative; top: 0.8em;
			margin: 0 10px;
			width: 30px; height: 30px;
			display: inline-block;
			opacity: 0.85;
			background-color: #403e3b;
			background-image: url('../img/slideshow.png'); background-repeat: no-repeat; background-size: 90px 60px;
			border-radius: 5px;
		}
		
		#poemToolbar > .slide-next-btn:hover, #poemToolbar > .slide-prev-btn:hover {
			opacity: 1;
		}
		
		#poemToolbar > .slide-next-btn {
			background-position: 0 -30px;
		}
		
		#poemToolbar > .slide-prev-btn {
			background-position: -30px -30px;
		}
	/* END POETRY */
	
	/* LIST */
		.link-list {
			margin: 1.5em auto;
			padding: 0;
			list-style-type: none;
			display: inline-block;
			/*white-space: nowrap;*/
			text-align: left; font-size: 0.9em;
		}
		
		.link-list > li > a {
			min-height: 26px;
			margin-top: 0.75em; padding-top: 6px; padding-left: 38px;
			background-size: 32px; background-position: left center; background-repeat: no-repeat;
			display: block;
		}

		.link-list.no-icon {
			text-align: center; font-size: 1.1em;
		}
		
		.link-list.no-icon > li {
			margin-top: 0.5em; margin-bottom: 2px;
		}
		
		.link-list.no-icon > li > a {
			padding-left: 0;
			min-height: unset;
			display: inline;
			line-height: 1.4em;
		}
		
		.link-list.no-icon > li > a:hover {
			bottom: 1px;
			margin-bottom: 0;
			text-decoration: none;
			border-bottom: 2px dotted #403e3b;
		}
		
		.infoSpan {
			position: relative;
			margin: 0.5em;
			display: inline-block;
			text-align: center; font-size: 0.85em; font-style: italic;
			cursor: default;
		}

	/** THUMBS **/
		.photoThumb, .titleThumb, .pdfThumb {
			position: relative;
			margin: 0.3em; margin-bottom: 1em; margin-top: 0;
			width: 200px; height: 200px;
			display: inline-block;
			border: 1px solid #403e3b; 
			background-color: #bbb;
		}

		.pdfThumb {
			height: 283px;
		}
		
		.photoThumb:hover, .titleThumb:hover, .pdfThumb:hover {
			background-color: rgba(187, 187, 187, 0.7);
		}
			
		.photoThumb > img, .titleThumb > img, .pdfThumb > img {
			position: absolute; top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
			max-width: 200px; max-height: 200px;
			opacity: 1;
			transition: opacity .7s;
		}
			
		.pdfThumb > img {
			max-height: 283px;
		}
		
		.photoThumb:hover > img, .titleThumb:hover > img, .pdfThumb:hover > img {
			opacity: 0.6;
		}
		
		.photoThumb:after, .titleThumb:after, .pdfThumb:after {
			content: '';
			position: absolute; top: 76px; left: 76px;
			opacity: 0;
			width: 48px; height: 48px;
			display: block;
			background-color: rgba(255, 255, 255, 0.8);
			background-image: url('../img/zoom.png'); background-repeat: no-repeat; background-position: center;
			border-radius: 6px;
			transition: opacity 1s;
		}
		
		.pdfThumb:after {
			top: 121.5px;
			opacity: 0.6;
		}
		
		.photoThumb:hover:after, .titleThumb:hover:after, .pdfThumb:hover:after {
			opacity: 0.8;
		}
			
		/* TITLE THUMB */
			.titleThumb {
				margin-bottom: 2em; margin-top: 1em;
			}
		
			.titleThumb > span {
				position: absolute; left: 0;
				width: 100%;
			}
		
			.titleThumb > span.thumbTitle {
				top: -1.4em;
				background-color: rgba(207,196,175,0.75);
				font-size: 1em;
			}
	/* END THUMBS */
/* END CONTENT */
	
/* SLIDESHOW */
	#slideshow {
		position: fixed; top: 0; left: 0;
		width: 100%; height: 100%;
		opacity: 0;
		background-color: rgba(0,0,0,0.95);
		z-index: -1000;
		transition: opacity 0.5s, z-index 0s 0.5s;
	}

	#slideshow.slideshow-show {
		opacity: 1;
		z-index: 1000;
		transition: opacity 1s, z-index 0s 0s;
	}
	
	
	.slideshowImg {
		position: absolute; top: 0;
		width: 100%; height: 100%;
		display: block;
	}
	
	.slideshowImg > img {
		position: absolute; top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
		max-width: 85%; max-height: 85%;
	}

	#slideshowToolbar {
		position: absolute; top: 0; right: 0;
		padding: 5px;
		height: 35px;
	}
	
	.slideshow-button {
		width: 30px; height: 30px;
		display: block;
		opacity: 0.85;
		background-image: url('../img/slideshow.png'); background-repeat: no-repeat; background-size: 90px 60px;
	}
	
	.slideshow-button:hover {
		opacity: 1;
	}
	
	#slideshowToolbar .slideshow-button {
		margin: 5px; margin-top: 0;
		float: right;
	}
	
	button.slideshow-button {
		padding: 0;
		border: 0; background-color: transparent;
		cursor: pointer;
	}
	
	.slide-next-btn, .slide-prev-btn {
		position: absolute; top: 50%;
		margin: 5px; margin-top: -20px;
	}
	
	.slide-next-btn {
		right: 0;
	}
	
	.slide-prev-btn {
		left: 0;
	}
	
	#slideCloseBtn {
		background-position: 0 0;
	}
	
	#slideFullscrBtn.enter-fullscreen {
		background-position: -30px 0;
	}
	
	#slideFullscrBtn.exit-fullscreen {
		background-position: -60px 0;
	}
	
	.slide-next-btn {
		background-position: 0 -30px;
	}
	
	.slide-prev-btn {
		background-position: -30px -30px;
	}
	
	#slideshowTitle {
		position: absolute; bottom: 0;
		padding: 0.5em; padding-bottom: 0.75em;
		width: 100%; height: 4vh;
		text-align: center; color: #ddd;
	}
	
	#slideshowTitle > span {
		font-size: 0.9em; color: #ccc;
	}
/* END SLIDESHOW */