#cartcontent {
width: 100%;
text-align: right;
}

.title, .title2, .filmtitle, #buttons {
text-align: left; 
}

.title2 {
padding-top: 20px;
}

.filmtitle {
width: 500px;
border-bottom: 1px solid black;
}

.filmtitle a, #btnbar a {
font: bold 13px Arial, Helvetica, sans-serif; 
}

.amount, #checkout {
text-align: right;
}

#confirmation {
visibility: hidden;
}

.val {
width: 65px;
padding: 3px;
background: #7CFC00;
border: 1px solid #009900;
}

.inval {
width: 65px;
padding: 3px;
background: red;
border: 1px solid #990033;
}