html {
height: 100%;
}

body {
width: 100%; height: 100%;
margin: 0;
font: bold 13px Arial, Helvetica, sans-serif; text-align: center;
background-color: #CCCCCC;
}

#main {
padding: 10px;
}

#buttons {
width: 100%; height: 18px;
margin: 0 auto; padding: 0;
}

#buttons img {
margin: 5px; margin-top: 0;
}

a img {
border: 0;
cursor: pointer;
}