html {
height: 100%;
}

body {
width: 100%; height: 100%;
margin: 0;
background-color: #CCCCCC;
}

#headerfill {
width: 100%; height: 85px;
background: url(../img/headerfill.png) repeat-x;
}

#header {
width: 100%; height: 100%;
background: url(../img/header.png) no-repeat;
}

#nav {
width: 100%;
padding-top: 20px;
border-bottom: 1px solid #000000;
}

#navborder {
width: 100%;
border-bottom: 5px solid #990033;
}

#nav ul {
height: 10px;
margin-top: 0;
list-style-type: none;
}

#nav li {
padding-right: 10px;
float: left;
}

#container {
width: 960px;
margin: 20px auto 0;
}

#navleft {
width: 115px;
float: left;
border-left: 4px solid #009900; border-top: 4px solid #009900;
}

#navleft ul {
margin: 0; padding: 0;
list-style-type: none;
}

#content {
width: 820px;
margin-left: 140px; margin-bottom: 10px;
border-left: 4px solid #009900; border-top: 4px solid #009900;
}

.content {
margin-right: -5px; padding: 10px;
font: bold 13px Arial, Helvetica, sans-serif;
border: 1px solid #000000;
}

.title {
margin: 0;
font: bold 24px Impact; color: #009900;
cursor: default;
}

.title2 {
margin: 0; margin-top: 20px;
font: 18px Impact; color: #990033;
cursor: default;
}

.navtitle {
margin: 0;
font: 18px Impact; color: #990033;
cursor: default;
}

a {
font: 18px Impact; color: #009900; text-decoration: none;
cursor: pointer;
}

a:hover {
text-decoration: underline;
}

#homepage #home a, #contactpage #contact a, #cartpage #cart a, #azpage #az a, #genrepage #genre a, #datepage #date a, #directorpage #director a, #starpage #star a {
text-decoration: underline;
}

a img {
border: 0;
}

#homeimg {
float: right;
border: 1px solid gray;
}

.smalllink {
font: bold 13px Arial, Helvetica, sans-serif;
}

#jumpto a{
font: bold 13px Arial, Helvetica, sans-serif;
}

.film {
width: 650px;
margin-bottom: 10px; padding-bottom: 2px;
border-bottom: 1px solid black;
}

.film ul {
margin-top: 5px; margin-left: 105px; padding: 0;
list-style-type: none;
}

.cover {
float: left;
}

.price {
font: bold 13px Arial, Helvetica, sans-serif; 
}

#map_canvas {
width: 400px; height: 400px;
margin-top: 5px;
border: 1px solid gray;
}

#footer {
margin-right: -5px;
background-color: #bababa;
font: bold 13px Arial, Helvetica, sans-serif; text-align: center;
border: 1px solid black;
border-top: 0;
}