#cover {
margin-right: 5px;
float: left;
}

#info {
margin-top: 5px; padding: 0;
list-style-type: none;
}

.notbold {
font-weight: normal;
}

#quotesource {
font-weight: normal; font-style: italic;
}