/** CONTACT **/
	#email {
		background-image: url('../svg/contactIcons.svg#email');
	}

	#cell {
		min-height: 26px;
		padding-top: 6px; padding-left: 36px;
		background-image: url('../svg/contactIcons.svg#cell');
	}
	
	#address {
		min-height: 32px;
		padding-top: 0;
		background-image: url('../svg/contactIcons.svg#address');
	}
		
	#address:hover {
		text-decoration: underline;
	}
	
/** CV **/	
	#cvContent section {
		padding: 5px; margin: 50px auto 0;
		border-width: 0 0 0 2px;
		border-style: solid;
		display: inline-block;
		text-align: left;
	}
	
	#cvContent section h2 {
		text-align: left; font-size: 18px;
	}

	#cvContent th {
		padding-left: 45px;
	}
	
	#cvContent td:first-child {
		width: 90px;
		text-align: right;
	}
	
	#cvContent ul{
		list-style-type: none;
		margin: 0; padding: 0;
	}
	
	#cvContent li:before{
		content: '\BB\9';
		font-size: 20px; font-weight: bold;
		cursor: default;
	}

	/* CV CONTACT */
		#cvContent header {
			position: absolute; top: 0; left: 0; right: 0;
			margin: 0 auto; padding: 0 5px 5px 5px;
			width: 212px;
			border-bottom: 2px solid #403e3b; border-radius: 0 0 5px 5px; 
			background: #cfc4af;
			background: linear-gradient(
				rgba(207, 196, 175, 0),
				rgba(207, 196, 175, 0.25),
				rgba(207, 196, 175, 0.5),
				rgba(207, 196, 175, 0.75),
				rgba(207, 196, 175, 1),
				rgba(207, 196, 175, 1),
				rgba(207, 196, 175, 1));
		}

		#contact {
			background-image: url('../svg/contactIcons.svg#contact');
		}
		
		#dlPDF {
			padding-left: 33px;
			background-image: url('../svg/dlPDF.svg');	
			text-decoration: underline;
			transition: opacity 1s;
		}
		
		#dlPDF:hover {
			opacity: 0.7;
		}

	/* EXPERIENCE */
		#cvExp { 
			border-color: #800000;
		}
	
		#cvExp caption {
			color: #800000;
		}

	/* EDUCATION */
		#cvEdu {
			float: left;
			border-color: #008000;
		}
	
		#cvEdu caption {
			color: #008000;
		}
			
	/* QUALITIES */
		#cvQual {
			float: right;
			border-color: #000080; 
		}
		
		#cvQual h2 {
			color: #000080;		
		}
/** END CV **/

/** MUSIC **/
	#musicContent iframe {
		width: 70vw;
		border: 0;
	}

	#musicContent .loadingWrapper {
		height: 451px;
	}

/** POETRY **/
	#poetrySlide img {
		max-width: 47%;
	}

	#poetrySlide .loading {
		width: 47%; height: 95%; max-width: 602px; max-height: 787px;
	}
	
	#poetrySlide div:first-of-type img, #poetrySlide img:last-of-type:not(:only-of-type),
	#poetrySlide div:first-of-type .loading, #poetrySlide .loading:last-of-type:not(:only-of-type)	{
		left: 50%; margin-left: 0;
	}
	
	#poetrySlide div:last-of-type img, #poetrySlide img:first-of-type:not(:only-of-type),
	#poetrySlide div:last-of-type .loading, #poetrySlide .loading:first-of-type:not(:only-of-type) {
		right: 50%; margin-right: 0;
	}

/** WEBDEV **/
	#icons {
		background: url('../svg/info.svg') top left no-repeat;
		background-size: 30px;
	}
	
	#schizos {
		background: url('../pages/webdev/schizosicon.ico') 8px 8px no-repeat;
	}
	
	#notahorse {
		background: url('../pages/webdev/horseicon.ico') 8px 8px no-repeat;
	}

	/** WEBDEV ICONS **/
		#iconsContent table {
			text-align: center;
		}

		#iconsContent caption {
			padding: 3px;
		}

		#iconsContent th {
			padding: 5px;
		}

		#iconsContent td {
			padding: 10px;
			vertical-align: middle;
			background: rgba(255, 70, 5, 0.4);
		}
		
		#iconsContent td > * {
			display: inline-block;
			vertical-align: middle;
		}
		
		#iconsContent td .loading {
			margin: 0;
		}
/** END WEBDEV **/

/** MISC **/
	#paperRevalidatie {
		background-image: url('../pages/misc/odisee.ico');
		background-size: 32px 32px;
	}
	
	#mijn {
		background-image: url('../pages/misc/mijn.png');
	}
	
	#softwareList {
		background-image: url('../svg/software.svg');
	}
		
	/** MISC PAPERS **/
		.paperContent h2, .paperContent h3 {
			margin: 65px 20px 40px 0;
			display: inline-block;
		}
		
		.paperContent h2 {
			font-size: 24px; line-height: 19px;
		}
		
		.paperContent h2 span {
			font-weight: normal;
		}
		
		.paperContent h2 span:nth-of-type(1) {
			font-size: 20px; line-height: 17px;
		}
		
		.paperContent h2 span:nth-of-type(2) {
			font-size: 18px; line-height: 15px;
		}
		
		.paperContent h2 span:nth-of-type(3) {
			font-size: 16px; line-height: 13px;
		}
		
		.paperContent .pdfThumb, .paperContent .dlThumb {
			margin-left: 20px;
			vertical-align: top;
		}
	/** END MISC PAPERS **/

	/** MISC SOFTWARE **/
		#softwareContent .contentContainer {
			padding-top: 40px
		}
		
		/* RECOMMENDED SITES */
			#alternativeTo {
				background-image: url('https://alternativeto.net/favicon.ico');
			}

			#prismBreak {
				background-image: url('https://raw.githubusercontent.com/nylira/prism-break/master/source/assets/icons/favicon.png');
			}

			#droidBreak {
				background-image: url('https://raw.githubusercontent.com/droidbreak/droidbreak.github.io/master/favicon.ico');
			}
			
		/* TABS */
			#windowsTab {
				background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5f/Windows_logo_-_2012.svg');
			}

			#androidTab {
				background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/Android_robot.svg');
			}

			#webTab {
				background-image: url('https://openclipart.org/download/220404/globa.svg');
			}

			#zebraTab {
				background-image: url('https://openclipart.org/download/22287/StudioFibonacci-Cartoon-zebra.svg');
			}

		/* NAV BAR */
			#softwareContent header {
				position: absolute; top: 0; left: 0; right: 0;
				margin-bottom: 5px;
				z-index: 2;
			}
			#softwareContent nav {
				width: 85vw;
				margin: 0 auto;
				font-size: 20px; font-weight: bold;
			}
			
			#softwareContent nav > ul {
				margin: 0;
				background: #a4926e;
				border: 1px solid #403e3b; border-radius: 5px;
				list-style-type: none;
			}

			#softwareContent nav > ul > li {
				position: relative;
				height: 28px;
				display: inline-block;
			}

			#softwareContent .softMainNav, #softwareContent .softDropDown span  {
				position: relative;
				height: 23px;
				white-space: nowrap;
				cursor: pointer;
			}

			#softwareContent .softMainNav, #softwareContent .softDropDown li  {
				display: block;
			}

			#softwareContent .softDropDown span {
				display: inline-block;
			}

			#softwareContent .softMainNav:hover, #softwareContent .softDropDown li:hover span {
				bottom: 1px;
				border-bottom: 2px dotted #403e3b;
			}

			#softwareContent .softDropDown {
				position: absolute; top: 25px; left: 0;
				visibility: hidden;
			}

			#softwareContent .softDropDown ul {
				position: relative; top: -5px;
				padding: 5px;
				list-style-type: none;
				background: rgba(164, 146, 120, 0.9);
				border: 1px solid #403e3b; border-radius: 5px;
				opacity: 0;
				text-align: left;
				transition: top 0.4s, opacity 0.4s;
			}

			#softwareContent nav > ul > li:hover .softDropDown {
				visibility: visible;
			}

			#softwareContent nav > ul > li:hover ul {
				top: 10px;
				opacity: 1;
			}
		/* END NAV BAR */

		/* TABLES */
			#softwareContent h2 {
				font-size: 20px;
			}
			
			#softwareContent table {
				margin-bottom: 30px;
				max-width: 84vw;
			}
			
			#softwareContent td {
				position: relative;
				width: 25%; max-width: 25%; /*min-width: 265px;*/
				border: 0 solid #403e3b; 
			}
			
			#softwareContent td:not(:empty) {
				padding-bottom: 38px;
				background: rgba(179, 160, 125, 0.35);
				border-bottom-width: 1px; border-radius: 5px;
			}
			
			#softwareContent td.startSet {
				border-left-width: 1px; border-top-left-radius: 0;
			}
			
			#softwareContent td.endSet {
				border-right-width: 1px; border-top-right-radius: 0;
			}
			
			#softwareContent table img {
				max-width: 75px;
			}
			
			#softwareContent td > a > span {
				margin-right: 10px;
				float: left;
			}
			
			#softwareContent a {
				font-weight: bold;
			}
			
			/* zebra */
				#softwareContent .tabContent[data-nav="softwareZebraTab"] td {
					text-align: center; vertical-align: middle;
				}

				#softwareContent .tabContent[data-nav="softwareZebraTab"] table img {
					max-height: 125px; max-width: 90%;
				}

		/* INFO & LINKS */
			#softwareContent .warningSpan {
				position: absolute; bottom: 5px; left: 5px;
			}

			#softwareContent .infoSpanTiny {
				/*position: absolute; bottom: 5px; left: 5px;*/
			}

			.appMgr {
				position: absolute; bottom: 3px; right: 5px;
				height: 32px;
			}

			.appMgr > a {
				height: 32px;
				background-position: center left; background-repeat: no-repeat;
				display: inline-block;
			}
			
			/* CSS BADGES */
				.appMgr > .cssBtn {
					position: relative;
					border-radius: 4px;
					background-color: black; background-position: 2px 2px;
					color: white; text-decoration: none;
				}
				
				.appMgr > .cssBtn::before, .appMgr > .cssBtn::after {
					position: absolute; left: 32px;
				}
				
				.appMgr > .cssBtn::before {
					top: 4px;
					font-size: 8.25px; font-weight: normal; font-family: "Lucida Console", Monaco, monospace;
				}
				
				.appMgr > .cssBtn::after {
					top: 10px;
					font-size: 19.5px; font-family: "Courier New", Courier, monospace;
				}

				.appMgr > .apk::before, .appMgr > .xpi::before {
					content: "GET THE";
				}

				.appMgr > .apk::after {
					content: "APK";
				}

				.appMgr > .xpi::after {
					content: "XPI";
				}

				.appMgr > .apk {
					width: 75px;
					background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/APK_format_icon.png/240px-APK_format_icon.png');
					background-size: auto 28px;
				}

				.appMgr > .xpi {
					width: 75px;
					background-color: #109AD6;
					background-image: url('https://addons.cdn.mozilla.net/static/img/addon-icons/default-32.png');
					background-size: auto 28px;
				}

			.appMgr > .download {
				width: calc(172px / (44 / 32));
				background-image: url('../svg/downloadBadge.svg');
				background-size: auto 32px;
			}

			.appMgr > .fDroid {
				width: calc(512px / (177 / 32));
				background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0d/Get_it_on_F-Droid.svg');
				background-size: auto 32px;
			}

			.appMgr > .gPlay {
				width: calc(136px / (40 / 32));
				background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cd/Get_it_on_Google_play.svg');
				background-size: auto 32px;
			}

			.appMgr > .gPlay.paid {
				border: 2px solid;
				margin: -1px; padding: -1px;
				border-color: rgba(224, 64, 6, .75);
				border-radius: 5px;
			}

			.appMgr > .ffAddons {
				width: calc(132px / (45 / 32));
				background-image: url('https://addons.cdn.mozilla.net/static/img/addons-buttons/AMO-button_2.png');
				background-size: auto 32px;
			}

			.appMgr > .altTo {
				width: 22px;
				background-image: url('https://alternativeto.net/favicon.ico');
				background-size: auto 22px;
			}
	/** END MISC SOFTWARE **/
/** END MISC **/
	
/** ACKNOWLEDGEMENTS **/
	#acknowledgementsContent section {
		margin-bottom: 50px;
	}
	.ackDivider {
		margin-bottom: 50px;
		width: 85vw; height: 1px;
		background: black;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	}
	
	#acknowledgementsContent :not(h2) > a {
		position: relative;
		min-width: 150px;
		display: inline-block;
	}
	
	#ackConcept :not(h2) > a {
		margin-top: 10px; margin-bottom: 10px;
	}

	#ackRest img {
		max-height: 150px; max-width: 350px;
	}
	
	#acknowledgementsContent .subscript, #acknowledgementsContent .superscript {
		position: absolute;
		height: 25px; min-width: 150px;
		display: block;
	}
	
	#acknowledgementsContent .subscript {
		bottom: -25px;
	}
	
	#acknowledgementsContent .superscript {
		top: -25px;
	}