@font-face {
	font-family: Alien League;
	src: url('../fonts/alienleague/alienleague.woff');
}

@font-face {
	font-family: Alien League;
	src: url('../fonts/alienleague/alienleaguebold.woff');
	font-weight: bold;
}

@font-face {
	font-family: Alien League;
	src: url('../fonts/alienleague/alienleagueital.woff');
	font-style: italic;
}

@font-face {
	font-family: Alien League;
	src: url('../fonts/alienleague/alienleaguebolditalic.woff');
	font-weight: bold; font-style: italic;	
}

@font-face {
	font-family: Agency FB;
	src: url('../fonts/agencyfb/AGENCYR.woff');
}

@font-face {
	font-family: Agency FB;
	src: url('../fonts/agencyfb/AGENCYB.woff');
	font-weight: bold;
}

html {
	height: 100%; width: 100%;
	background: #cfc4af;
	font-family: "Agency FB", "Lucida Sans Unicode", "Lucida Grande", sans-serif; color: #403e3b; font-size: 18px;
	overflow-y: scroll; overflow-x: hidden;
}

body {
	margin: 0;
}

html[lang=en] [lang=nl], html[lang=nl] [lang=en]
{
	display: none !important;
}

a, a:visited {
	color: #403e3b;
}

a:hover {
	color: #6e6048;
}

a:active, a:visited, a:focus {
	outline: none;
}

/** HEADER **/
	#pageHeader {
		width: 100%; padding-top: 20px;
		font-family: "Alien League", "Agency FB", "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight: bold;
		z-index: 1;
	}
	#headerTop {
		position: fixed; top: 0;
		height: 16px; width: 100%;
		z-index: 2;
	}

	#headerTop, #navTop {
		background: #8b7754;
		background: radial-gradient(#8b7754 50%, #463c2a 100%);
		border: solid rgba(71, 61, 43, 0.35);
		border-width: 2px 0;
	}

	/* HEADER MAIN */		
		#headerMain {
			position: relative;
			height: 170px;
			background: #cfc4af;
		}

		#headerLogo {
			position: fixed;
			width: 420px; height: 170px;
			display: block;
			z-index: 3;
		}
		
		#headerLogo span {
			position: absolute;
			font-size: 79px;
		}
		
		#headerLogo span:first-child {
			top: 18px; left: 58px;
			color: #5e5037;
		}
		
		#headerLogo span:last-child {
			bottom: 18px; left: 72px;
			color: black;
		}

		#langSelect {
			position: fixed; top: 25px; right: 40px;
			width: 53px; height: 20px;
			border: 1px solid #403e3b; border-radius: 5px;
			font-family: "Agency FB", "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px;
			cursor: pointer;
			overflow: hidden;
			transition: height 0.5s;
		}
		
		#langSelect:hover {
			height: 41px;
		}
		
		#langSelect:after {
			content: '\BB';
			position: absolute; top: 1px; right: 3px;
			font-family: "Lucida Console", Monaco, monospace;
			transform: rotate(90deg);
			display: block;
		}
		
		#langSelect ul {
			margin: 0; padding: 0;
			width: 35px;
			border-right: 1px solid #403e3b;
			list-style: none;
		}
		
		#langSelect li {
			height: 20px; width: 53px;
			padding: 0;
			display: block;
		}
		
		#langSelect li:first-child {
			border-bottom:  1px solid #403e3b;
		}
	
		#langSelect li:hover, #langSelect li.selected {
			background-color: rgba(127, 127, 127, 0.3);			
		}
		
		#en {
			background-image: url('../svg/flags.svg#en');
			background-repeat: no-repeat;
		}
		
		#nl {
			background-image: url('../svg/flags.svg#nl');
			background-repeat: no-repeat;
		}

	/* HEADER NAV */
		#navTop {
			height: 3px;
			border-width: 1px 0;
		}
		
		#headerNav {
			position: relative; height: 25px;
			padding-bottom: 5px;
			background: #cfc4af;
			background: linear-gradient(
				rgba(207, 196, 175, 1),
				rgba(207, 196, 175, 1),
				rgba(207, 196, 175, 1),
				rgba(207, 196, 175, 0.75),
				rgba(207, 196, 175, 0.5),
				rgba(207, 196, 175, 0.25),
				rgba(207, 196, 175, 0));
		}

	/* HEADER BUTTONS */
		.headerButtons {
			height: 100%;
			font-size: 21px;
		}
		
		.headerButtons ul {
			position: absolute; right: 40px;
			height: 23px;
			margin: 0; padding: 0; 
			list-style-type: none;
			transition: right 1s, top 1s, bottom 1s, height 1s, font-size 1s;
		}
		
		#headerMain .headerButtons ul {
			bottom: 2px;
		}
		
		#headerNav .headerButtons ul {
			top: 2px;
		}

		.headerButtons li {
			float: left;
		}
		
		.headerButtons a {
			position: relative; 
			height: 23px;
			display: block;
			text-decoration: none;
			transition: height 1s;
		}
		
		.headerButtons a:hover {
			color: #403e3b;
		}
		
		.headerButtons li:hover a, .headerButtons a.currentPage {
			bottom: 1px;
			border-bottom: 2px dotted #403e3b;
		}
		
		.navDivider {
			width: 23px;
			text-align: center;
			cursor: default;
		}
		
		/* HOME MENU */
			.homeNav ul {
				right: 20vw;
				height: 30px;
				font-size: 26px;
			}

			#headerMain .homeNav ul {
				 bottom: -200px;
			}

			#headerNav .homeNav ul {
				top: 200px;
			}
			
			.homeNav a {
				height: 30px;
			}
	/* END HEADER BUTTONS */
/** END HEADER **/

#pageHeader, h1 {
	-webkit-touch-callout:	none; /* iOS Safari */
	-webkit-user-select:	none; /* Chrome/Safari/Opera */
	-khtml-user-select:		none; /* Konqueror */
	-moz-user-select:		none; /* Firefox */
	-ms-user-select:		none; /* Internet Explorer/Edge */
}

/* HEADER 1 */
	h1 {
		position: absolute; top: 100px; left: 0; right: 0;
		margin: 0 420px;
		opacity: 0;
		font-family: "Alien League", "Agency FB", "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align: center; font-size: 36px; color: #6e6048;
		cursor: default;
		white-space: nowrap;
		z-index: 1;
	}

	.currentPage > h1 {
		top: 150px;
		opacity: 1;
		transition: top 0.4s, opacity 0.4s;
	}
		
	.previousPage > h1 {
		opacity: 0;
		transition: top 0s 0.8s, opacity 0.8s;
	}

footer {
	position: fixed; bottom: 0;
	width: 100%;
	padding: 5px;
	background: #cfc4af;
	background: linear-gradient(
		rgba(207, 196, 175, 0),
		rgba(207, 196, 175, 0.25),
		rgba(207, 196, 175, 0.5),
		rgba(207, 196, 175, 0.75),
		rgba(207, 196, 175, 1),
		rgba(207, 196, 175, 1),
		rgba(207, 196, 175, 1));
	text-align: center; font-size: 16px;
}

body #buorg, noscript {
	position: fixed; top: 0; left: 0;
	width: 100%;
	text-align: center; font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: black;
	background: #FDF2AB;
	border-bottom: 1px solid #A29330;
	cursor: pointer;
	z-index: 4;
}

#buorg div, noscript div {
	padding: 5px 36px 5px 40px;
}

body .warningMsg {
	padding-left: 40px;
	background: url('../svg/warning.svg') center left no-repeat;
}

body #buorg > div, noscript > div {
	display: inline-block;
	padding: 0;
	text-align: left;
}

body #buorg a, noscript a {
	color:#E25600;
}