/** WRAPPER & CONTAINER **/
	.contentWrapper {
		position: absolute; left: -100%;
		width: 0;
		opacity: 0;
		padding-top: 40px; padding-bottom: 65px;
		text-align: center;
		overflow: hidden;
		z-index: 0;
	}

	.currentPage > .contentWrapper {
		left: 0;
		width: 100%;
		opacity: 1;
		transition: left 2s, opacity 2s;
	}

	.previousPage > .contentWrapper {
		left: initial; right: 0;
		width: 0;
		opacity: 0;
		transition: width 2s, opacity 2s;
	}

	.contentContainer {
		width: 94vw; padding: 0 3vw;
	}

/** MISC **/
	h2, h3 {
		margin: 0;
		cursor: default;
	}
	
	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 20px;
	}
	
	:not(caption) > h2 {
		font-size: 22px;
	}

	.b {
		font-weight: bold;
	}

	.nb {
		font-weight: normal !important;
	}

	.i {
		font-style: italic;
	}

	.u {
		text-decoration: underline;
	}

	/* LOADING */
		.loadingWrapper {
			position: relative;
			display: inline-block;
		}

		.loading {
			position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
			background: url('../svg/loading.svg') center no-repeat;
			display: inline-block;
			z-index: 1;
		}

	/* INFO&WARNING */
		.infoSpan, .infoSpanSmall, .infoSpanTiny {
			position: relative;
			margin: 5px;
			background: url('../svg/info.svg') center left no-repeat;
			display: inline-block;
			text-align: left;
			cursor: default;
		}

		.infoSpan {
			min-height: 24px;
			padding-left: 28px; 
		}
				
		.infoSpanSmall {
			min-height: 20px;
			padding-left: 24px;
			background-size: 20px;
			font-size: 16px;
		}
				
		.infoSpanTiny {
			min-height: 16px;
			padding-left: 18px;
			background-size: 16px;
			font-size: 16px; line-height: 16px;
		}
		
		.warningSpan {
			position: relative;
			width: 16px; height: 20px;
			background: url('../svg/warningSmall.svg') center left no-repeat; background-color: #c1ab80;
			border-radius: 50%;
			display: inline-block;
			text-decoration: underline; font-size: 16px; line-height: 16px; color: #e04006; font-weight: bold;
			cursor: default;
			overflow: hidden;
			z-index: 1;
		}
			
		.warningSpan:hover {
			overflow: visible;
			border-radius: 50% 0 0 50%;
		}
					
		.warningSpan > span {
			position: absolute;
			height: 16px;
			padding: 2px; padding-left: 18px;
			background: linear-gradient(rgba(193, 171, 128, 0.90), rgba(193, 171, 128, 0.90)) no-repeat; background-position: 16px 0;
			border-radius: 0 5px 5px 0;
			display: block;
			white-space: nowrap;
		}
	/* END INFO&WARNING */

	/* LINK & TAB LIST */
		.linkList, .tabList {
			margin: 75px auto;
			display: inline-block;
			text-align: left; font-size: 18px;
			white-space: nowrap;
		}
		
		.linkList > *, .tabList > * {
			min-height: 28px;
			margin-top: 15px; padding-top: 4px; padding-left: 38px;
			background-size: 32px;
			background-position: left center;
			background-repeat: no-repeat;
			display: block;
		}
		
		.linkList.small {
			margin: 0 0 0 5px;
		}
		
		.linkList.small > * {
			margin: 0;
		}
		
		.linkList.hor, .tabList {
			margin: 5px;
		}
		
		.linkList.hor > *, .tabList > * {
			margin: 0;
			display: inline-block;
		}
		
		.linkList.url > *, .tabList > * {
			margin-right: 5px;
			background-size: 16px;
			padding-top: 0; padding-left: 18px; min-height: 16px;
		}
		
		.linkList > a:not(:hover), .tabList > a:not(:hover) {
			text-decoration: none;
		}
		
		.tabList {
			padding: 3px;
			background-color: #a4926e;
			border: 1px solid #403e3b;border-radius: 5px;
		}
		
		.tabList > * {
			margin: 0; padding-left: 22px; padding-right: 4px;
			background-color: #c1ab80; background-position: 4px center;
			border: 1px solid #cfc4af; border-radius: 5px;
			cursor: pointer;
		}
		
		.tabList > a:hover {
			text-decoration: none;
			color: #403e3b;
		}
		
		.tabList > .activeTab, .tabList > :hover {
			border-color: #403e3b;
		}
	/* END LINK LIST */
	
/** TABLES **/
	table {
		margin: 0 auto; 
		border: solid #403e3b;
		text-align: left;
		table-layout: fixed;
	}

	table.style-1 {
		border-width: 0 1px 1px 1px; border-spacing: 5px; border-radius: 0 0 5px 5px;
	}	

	table.style-2 {
		border-width: 1px; border-spacing: 2px; border-radius: 5px; 
	}
	
	caption {
		border-radius: 5px 5px 0 0;
		font-size: 20px;
	}
	
	caption, th {
		cursor: default;
	}
	
	table.style-1 caption {
		background-color: #b3a07d;
		border: 1px solid #403e3b;
	}

	table.style-2 caption {
		background: none;
		border-width: 0;
	}

	table.style-2:not(.hor) tr:nth-child(2n), table.hor td:nth-child(2n) {
		background: rgba(255, 255, 255, 0.05);
	}
	
	table.style-2:not(.hor) tr:nth-child(2n+1), table.hor td:nth-child(2n+1) {
		background: rgba(0, 0, 0, 0.05);
	}
	
	table.style-2:not(.hor) tr:hover {
		background: rgba(127, 127, 127, 0.3);			
	}
	
	th {
		padding-left: 3px;
		background-color: #c1ab80;
		border: dashed #403e3b; border-width: 0 0 1px 0; border-radius: 5px 5px 0 0;
	}

	table.style-2 th {
		font-size: 16px;
	}

	table.hor th {
		padding-right: 3px;
		border-width: 0 1px 0 0; border-radius: 5px 0 0 5px; 
	}
	
	th:empty {
		height: 0; padding: 0;
	}
	
	td {
		padding: 5px;
		vertical-align: top;
	}
	
	td > * {
		vertical-align: top;
	}
	
	table.style-1 td:not(:last-child) {
		border-right: 1px solid #403e3b;
	}

/** THUMBS **/
	.photoThumb, .titleThumb, .poemThumb, .pdfThumb, .dlThumb {
		position: relative;
		display: inline-block;
		border: 1px solid #403e3b; border-radius: 5px;
	}

	.photoThumb, .titleThumb, .poemThumb, .pdfThumb embed, .pdfThumb:hover a, .dlThumb img, .dlThumb:hover a {
		opacity: 1;
		transition: opacity 1s;
	}
	
	.photoThumb:hover, .titleThumb:hover, .poemThumb:hover, .pdfThumb:hover embed, .pdfThumb a, .dlThumb:hover img, .dlThumb a  {
		opacity: 0.7;
		transition: opacity 1s;
	}
		
	.photoThumb img, .titleThumb img, .poemThumb img {
		max-width: 250px; max-height: 250px;
	}
	
	/* PHOTO THUMB */	
		.photoThumb, .titleThumb {
			height: 250px; width: 250px;
			margin: 20px;
			background: #bbb;
			background: radial-gradient(#bbb, #bbb, #aaa, #bbb, #bbb);
		}
		
		.photoThumb img, .titleThumb img {
			position: absolute; top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
		}
		
		/* TITLE THUMB */
			.titleThumb {
				margin-bottom: 40px;
			}
		
			.titleThumb span {
				position: absolute; left: 0;
				width: 100%;
			}
		
			.titleThumb span.thumbTitle {
				top: -25px;
				font-size: 20px;
			}
			
			.titleThumb span:last-of-type {
				bottom: -22px; height: 20px; padding-top: 2px;
				font-size: 16px;
			}
		
	/* POETRY THUMB */		
		.poemThumb {
			height: 250px;
			margin-top: 20px;
			border: 0;
		}
		
		.poemThumb img:not(:only-of-type) { 
			float: left;
		}
		
		.poemThumb.loadingWrapper {
			width: 382.433px;
		}
		
		.poemThumb .loading:first-of-type:not(:only-of-type) {
			right: 50%;
		}
		
		.poemThumb .loading:last-of-type:not(:only-of-type) {
			left: 50%;
		}
		
	/* BTN THUMB */
		.pdfThumb embed, .dlThumb img, .pdfThumb .loading, .dlThumb .loading {
			border-radius: 5px;
		}

		.pdfThumb a, .dlThumb a {
			position: absolute; top: 0; left: 0;
			width: 100%; height: 100%;
			z-index: 1;
		}

		.pdfThumb .loading, .dlThumb .loading {
			height: 100% !important;
			background-color: #bbb;
		}
		
		/* PDF THUMB */
			.pdfThumb {
				height: 400px; width: 325px;
			}

			.pdfThumb a {
				background: url('../svg/zoom.svg') center no-repeat;
			}
			
		/* DL THUMB */
			.dlThumb:not(.loadingWrapper) {
				border: 0;
			}
			
			.dlThumb img {
				max-height: 500px; max-width: 500px;
			}

			.dlThumb a {
				background: url('../svg/download.svg') center no-repeat;
			}
/* END THUMBS */

/* SLIDESHOW */
	#slideShowWrapper {
		position: fixed; top: 0; left: 0;
		height: 100%; width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		opacity: 0;
		z-index: -21;
	}
	
	#slideShowWrapper.hideSlideShow {
		transition: opacity 0.5s, z-index 0s 0.5s;
	}
	
	#slideShowWrapper.showSlideShow {
		opacity: 1;
		z-index: 21;
		transition: opacity 1s, z-index 0s 0s;
	}
	
	.slideShow {
		position: absolute; top: 0; left: 0;
		height: 100%; width: 100%;
		z-index: 0;
	}
	
	.slideShow:not(.showSlideShow) {
		z-index: -1;
	}

	/* SLIDES */
		.slideShow div {
			position: absolute; left: 100%;
			height: 100%; width: 100%;
			opacity: 0;
			transition: left 1s, opacity 1s;
		}
		
		.slideShow div.currentSlide {
			left: 0;
			opacity: 1;
		}
		
		.slideShow div.leftSlide {
			left: -100%;
			opacity: 0;
		}
		
		.slideShow div.rightSlide {
			left: 100%;
			opacity: 0;
		}
		
		.slideShow img, .slideShow embed, .slideShow .loading { 
			position: absolute; top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
			max-height: 95%; max-width: 95%;
		}
		
		.slideShow embed {
			height: 95%; width: 95%;
			border-radius: 15px 15px 0 15px;
		}
	/* END SLIDES */

	/* SLIDESHOW UI */
		#slideShowButtons {
			z-index: 3;
		}
		
		#slideShowButtons > * {
			position: absolute;
		}
		
		#closeSlideShow {
			width: 32px; height: 32px;
			display: block;
			background: url('../svg/closeSlideShow.svg') no-repeat;
		}

		#closeSlideShow:hover, #nextSlide:hover, #previousSlide:hover {
			margin: 1px -1px 0 1px;
			opacity: 0.8;
		}
		
		#fullScreenBtn:hover {
			margin-bottom: -1px;
			opacity: 0.8;
		}
		
		#closeSlideShow {
			top: 15px; right: 20px;
		}
		
		#previousSlide, #nextSlide, #fullScreenBtn {
			width: 48px; height: 48px;
			display: block;
		}
		
		#previousSlide {
			left: 15px; top: 50%;
			background: url('../svg/slideShow.svg#back') no-repeat;
			float: left;
		}

		#nextSlide {
			right: 15px; top: 50%;
			background: url('../svg/slideShow.svg#next') no-repeat;
			float: right;
		}
		
		#fullScreenBtn {
			bottom: 10px; left: 0; right: 0;
			margin: auto;
			cursor: pointer;
		}
		
		.enterFullBtn {
			background: url('../svg/slideShow.svg#enterFull') no-repeat;
		}
		
		.exitFullBtn {
			background: url('../svg/slideShow.svg#exitFull') no-repeat;
		}
	/* END SLIDESHOW UI */
/* END SLIDESHOW */