#pageHeader nav#pagesDropdown {
	top: 6.2em; left: calc(50% - 5.5em);
	height: 1.4em; width: 11em;
	overflow: visible;
	display: inline-block;
	text-align: left;
}

#pageHeader nav#pagesDropdown > ul {
	position: absolute;
	height: 1.4em; width: 11em;
	overflow: hidden;
	border: 1px solid #403e3b; border-radius: 3px;
	background: #cfc4af;
	transition: height .5s;
	z-index: 100;
}
			
#pageHeader nav#pagesDropdown > ul:after {
	position: absolute; top: .5em; right: 0;
	width: 1em; height: 1em;
	content: '\BB';
	font-family: "Lucida Console", Monaco, monospace; font-size: 1em;
	transform: rotate(90deg);
	display: block;
	cursor: pointer;
	z-index: 101;
}

#pageHeader nav#pagesDropdown > ul:hover {
	height: auto;
}

#pageHeader nav#pagesDropdown > ul > li {
	background-color: rgba(127, 127, 127, 0.1);	
	float: none;
}
#pageHeader nav#pagesDropdown > ul:hover > li:not(:last-child) {
	border-bottom: 1px solid #403e3b;
}

#pageHeader nav#pagesDropdown > ul > li > a {
	padding: .2em; padding-right: 1em;
	height: auto;
	display: block;
	border: unset;
}

html:not([data-page="music"]) #pageHeader nav#pagesDropdown > ul > li > a[data-page="music"] {
	transition: transform 1ms;
}

html:not([data-page="music"]) #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="music"] {
	transform: translateY(2em);
}

html[data-page="poetry"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="poetry"],
html[data-page="photo"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="photo"],
html[data-page="webdev"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="webdev"],
html[data-page="paper_revalidatie"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="paper_revalidatie"],
html[data-page="minesweeper"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="minesweeper"],
html[data-page="contact"] #pageHeader nav#pagesDropdown > ul:not(:hover) > li > a[data-page="contact"] {
	position: absolute; top: 0;
}

html[data-page="music"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="music"],
html[data-page="poetry"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="poetry"],
html[data-page="photo"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="photo"],
html[data-page="webdev"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="webdev"],
html[data-page="paper_revalidatie"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="paper_revalidatie"],
html[data-page="minesweeper"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="minesweeper"],
html[data-page="contact"] #pageHeader nav#pagesDropdown > ul:hover > li > a[data-page="contact"],
#pageHeader nav#pagesDropdown > ul > li > a:hover {
	text-decoration: none;
	background-color: rgba(127, 127, 127, 0.3);	
}

#content {
	top: 9.5em;
}

.error {
	padding: 0.2em;
	font-weight: bold; font-size: 0.9em;
}

form {
	font-size: 0.9em;
	display: inline-block;
}

.table {
	display: inline-table;
	text-align: left;
}

.table .row {
	display: table-row;
}

.table .cell {
	display: table-cell;
	padding: 0.1em;
}

form div, label {
	padding-bottom: 0.2em;
}

form span, input, textarea, a.linkbutton {
	padding: 0.2em; 
	vertical-align: middle;
}

input:not([type="file"]), textarea, a.linkbutton {
	border: 1px solid #403e3b; border-radius: 3px;
}

input[type="url"], input[type="text"], textarea {
	width: 15em;
}

input[type="number"] {
	width: 3em;
}

input[type="submit"], a.linkbutton {
	margin: 0.2em 0; padding-right: 0.3em;
	cursor: pointer;
}

a.linkbutton {
	font-size: 9.75pt; color: buttontext; text-decoration: none;
    background-color: buttonface;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: button;
	-webkit-appearance: button;
}

.settings-list {
	margin: 0.15em 0;
}
	
.slideshowEdit, #slideshow > form[name="login_form"], #slideshow > .error {
	position: absolute; top: 0;
	width: 100%; height: 100%;
	display: block;
	text-align: center;
}

#slideshow > form[name="login_form"] {
	height: auto; top: 35%;
}

#slideshow .error {
	color: #ddd;
}

.slideshowEdit > form {
	margin-top: 5vh;
}

.slideshowEdit textarea {
	width: 30em; max-width: 85vw; height: 80vh;